data/
data_cropped/
dataComplete/
dataPicked/
__pycache__/
.ipynb_checkpoints/
*.hdf5
temp/
temptest/
temp_lastround/
**/carte_prediction.*
**/polar_prediction.*
**/big_polar_prediction.*
**/big_carte_prediction.*
*.zip
history_results/results20231116/polar_prediction.npy
imageGen/
data_original/
*/.DS_Store
.DS_Store
